ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: absolut;
  align-items: center;


}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 0;
  text-decoration: none;
  font-family: 'Jaldi';
  letter-spacing: 0.040em;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  position: relative;
  padding-right: 1em;



}

.insta1 {
  padding-right: 1.5%;
  padding-left: 1.5%;
  padding-top: 0.3%;
  margin-bottom: 0.5px;
}
.insta2{
  padding-top: 0.3%;
  margin-bottom: 0.5px;

}
#d{
  float: right;
  margin-top: 0.35%;

}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 600;
  padding-right: 3%;
  padding-left: 3%;
}



li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(43, 47, 42, 0.58);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

svg ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(43, 47, 42, 0.58);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

svg :hover::before {
transform-origin: left;
transform: scaleX(1);
}
