.divisor{
    align-items: center;
    text-align: center;
    

}
h1{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.055em;

    color: #F5F5F5;
   
}


