.container{
 text-align: center;
 color: aliceblue;
 margin-top: 10%;
 font-family: 'Jura';

}
h1{
  font-family: 'Jura';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 41px;

letter-spacing: 0.085em;

color: #FFC700;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Julius+Sans+One&family=Playfair+Display:wght@500&display=swap');
