.body1{
    background-color:rgba(43, 47, 42, 0.58);
    margin: 3% 3% 3% 3%;

}
body{
    background: rgb(43, 47, 42, 0.58);
    background: radial-gradient(circle, rgba(43, 47, 42, 0.58) 0%, rgba(0,0,0,1) 100%);
}