
.body1{
    background-color:rgba(43, 47, 42, 0.58);

}
body{
    background: rgb(43, 47, 42, 0.58);
    background: radial-gradient(circle, rgba(43, 47, 42, 0.58) 0%, rgba(0,0,0,1) 100%);
    padding-right: 10%;
    padding-left: 10%;
    color: aliceblue;
}

