
<section id="font">
  <div class="divider">
    <h3 style="color: white">
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also
      the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also
      the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum
    </h3>
  </div>

<br>
</section>
<h1 id="titulo" >Mis Skills</h1>

<section class="contenedor" id="example2">
  <div class="fila">
    <div class="casilla">
      <img src="./assets/imgdev/css-3.png" alt="dasdd">
      <span>CSS</span>
    </div>
    <div class="casilla">
      <img src="./assets/imgdev/html-5.png" alt="dasdd">
      <span>HTML</span>
    </div>
    <div class="casilla">
      <img src="./assets/imgdev/logos_angular-icon.png" alt="dasdd">
      <span>Angular</span>
    </div>
    <div class="casilla" id="x">
      <img src="./assets/imgdev/logos_mysql.png" alt="dasdd" height="80px">
      <span>MySQL</span>
    </div>
    <div class="casilla">
      <img src="./assets/imgdev/logos_python.png" alt="dasdd">
      <span>Python</span>
    </div>
    <div class="casilla">
      <img src="./assets/imgdev/logos_typescript-icon.png" alt="dasdd">
      <span>TypeScript</span>
    </div>
    <div class="casilla">
      <img src="./assets/imgdev/js.png" alt="dasdd">
      <span>JavaScript</span>
    </div>

    <div class="casilla">
      <img src="./assets/imgdev/git_original_wordmark_logo_icon_146510.png" alt="dasdd">
      <span>Git</span>
    </div>
  </div>

</section>

<section class="row" style="margin-bottom: -2%;">
  <div class="column1">
    <mat-card>Simple card
      <div class="container12">
        <div class="progress progress-striped">
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card>Simple card
      <div class="container12">
        <div class="progress progress-striped">
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </mat-card>

  </div>



  <div class="column2">
    <mat-card>Simple card
      <div class="container12">
        <div class="progress progress-striped">
          <div class="progress-bar">
          </div>
        </div>
      </div>

    </mat-card>
    <mat-card>Simple card
      <div class="container12">
        <div class="progress progress-striped">
          <div class="progress-bar">
          </div>
        </div>
      </div>

    </mat-card>

  </div>


</section>



