/* You can add global styles to this file, and also import other style files */
html{
    background-color: black;

}

:root {
   -color--gris: rgba(43, 47, 42, 0.58);
   -color--amarelo:#FFC700;

}
#titulo
  {
    font-family: 'Julius Sans One';


    color: #F5F5F5;
    text-align: center;
    border-bottom: 1px solid rgba(43, 47, 42, 0.58);
    margin-left:20% ;
    margin-right:20% ;

  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  letter-spacing: 0.035em;
  }


@media (max-width: 1200px){
  body {
    padding: auto;
    margin: auto;
  }


    }

@media (max-width: 900px){
  body{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
