/* You can add global styles to this file, and also import other style files */
html{
    background-color: black;
}

:root {
   -color--gris: rgba(43, 47, 42, 0.58);
   -color--amarelo:#FFC700;
   
}